@use 'variables' as *;

#root {
  max-width: 1280px;
  text-align: center;
}

.default-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-row {
  display: flex;
  flex-direction: column;

  &.no-gap {
    gap: 0;
  }

  .error-span {
    font-size: 12px;
    color: red;
  }
}

.tabulator-header-contents {
  background-color: var(--secondary-color);

  .tabulator-col {
    background-color: var(--secondary-color) !important;
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;

    input {
      background-color: #FFFFEA;
      color: var(--primary-color);
      border: none;
      border-radius: 5px;
      height: 30px;
    }
  }
}

.tabulator-row {
  height: 60px !important;
  min-height: 60px !important;
}

.tabulator-cell {
  height: 100%;
  line-height: 40px;
  color: var(--primary-color);

  input {
    color: var(--primary-color);
  }
}

.delete-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-size: 14px;
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .MuiPaper-root {
    min-width: 500px;
  }
}